mark {
    padding: 3px;
    background-color: #a3a3a3;
    color: whitesmoke;
    border-radius: 5px;
}

h1, h2{
    color: darkblue;
}

li
{
    margin: 10px;
}

label, input{
    display:block;
}
textarea{
    box-sizing:border-box;
    border: none;
    width: 100%;
    background: grey;
    color: white;
}
